<mat-toolbar *ngIf="isLoggedIn">
  <button mat-button
          [matMenuTriggerFor]="songMenu">Song</button>
  <mat-menu #songMenu="matMenu">
    <button mat-menu-item routerLink="song-list">List
      songs</button>
    <button mat-menu-item routerLink="song-form">Create
      song</button>
  </mat-menu>

  <button mat-button
          [matMenuTriggerFor]="singerMenu">Singer</button>
  <mat-menu #singerMenu="matMenu">
    <button mat-menu-item routerLink="singer-list">List
      singers</button>
    <button mat-menu-item routerLink="singer-form">Create
      singer</button>
  </mat-menu>
<app-logout></app-logout>
</mat-toolbar>
<router-outlet></router-outlet>
